#wd-kambaz-navigation {
  width: 120px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  z-index: 1000;
}

.wd-main-content-offset {
  padding-left: 140px;
}

@media (max-width: 767px) {
  #wd-kambaz-navigation {
    display: none;
  }
  .wd-main-content-offset {
    padding-left: 0;
  }
}


.list-group.wd > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}


.wd-lessons .wd-lesson {
  border-left: 3px solid green !important;
}

.wd-assignments-items .wd-assignment-item {
  border-left: 3px solid green !important;
}